{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Python: Odoo",
            "type": "debugpy",
            "request": "attach",
            "connect": {
                "host": "localhost",
                "port": 5678
            },
            // Run the run_odoo_debug.sh script in the project root before attaching
            "preLaunchTask": "run_odoo_debug.sh",
        }
    ]
}
